#app {
  font-family: 'Montserrat', sans-serif;
}
.router-link-exact-active {
  font-weight: bold;
}
.btn-success {
  background-color: #4EB883 !important;
  border-color: #4EB883 !important;
}
.badge-success {
  background-color: #4EB883 !important;
}
.breadcrumb {
  background-color: transparent !important;
  padding: 0;
  color: #000 !important;
}
.breadcrumb-item.active {
  font-weight: bold !important;
  color: #000 !important;
}